.title {
  text-align: center;
}

.title h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 8px;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
}

.title h1:after {
  content: "";
  background-color: #0085d3;
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: -40px;
  left: 47%;
}

nav {
  background-color: rgba(33, 35, 49, 0.95) !important;
}

nav .navbar-brand {
  margin-right: 0;
  margin-left: 25px;
}

nav .navbar-brand img {
  height: 40px;
}

nav .navbar-nav li {
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
}

nav .navbar-nav li a {
  color: white !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li a:hover {
  color: #0085d3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li .search-icon {
  margin-top: 7px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li .search-icon:hover {
  color: #0085d3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#time {
  padding: 50px 0;
}

#time .odometer-wrapper {
  height: 100%;
  background-color: #2dcdf5;
  padding: 100px 0;
}

#time .odometer-wrapper .odometer {
  position: relative;
}

#time .odometer-wrapper .odometer span {
  font-size: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#time .odometer-wrapper .odometer:not(:last-child):after {
  position: absolute;
  content: ":";
  color: white;
  text-align: center;
  font-size: 35px;
  top: 10%;
  left: 123%;
}

#time .calendar {
  padding: 100px 0;
  background-color: #f4f6f7;
}

#time .calendar .calendar-icon i {
  font-size: 50px;
  color: #2dcdf5;
}

#time .calendar .txt {
  margin-top: 7%;
}

#time .calendar .txt h4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
}

#time .calendar .txt p {
  margin-top: 3%;
  color: #748793;
  padding: 0px 15%;
  font-weight: 300;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}

#time .location {
  padding: 85.63px 0;
  background-color: #222528;
}

#time .location .loc-icon i {
  font-size: 50px;
  color: #2dcdf5;
}

#time .location .loc-txt {
  margin-top: 7%;
}

#time .location .loc-txt h4 {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
}

#time .location .loc-txt p {
  margin-top: 3%;
  color: white;
  padding: 0px 15%;
  font-weight: 100;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}

#time .work img {
  height: 400px;
}

#time .hand {
  padding: 171.2px 0;
  background-image: url("../img/time-section/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#time .hand a {
  display: inline-block;
  color: white;
  border: white 4px solid;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#time .hand a:hover {
  background-color: white;
  color: #2dcdf5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about {
  padding: 90px 0;
}

#about .number {
  margin-top: 10%;
}

#about .number h1 {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ecf1f3;
}

#about .number h4 {
  letter-spacing: .05em;
  color: black;
  font-weight: 700;
  word-spacing: 3px;
  font-family: "Montserrat", sans-serif;
}

#about .number p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
  margin: 36px 0;
}

#about .number a {
  text-decoration: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 7px 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}

#about .number a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about .number a.first {
  color: #0085d3;
  border: 2px solid #0085d3;
}

#about .number a.first:hover {
  color: white;
  background-color: #0085d3;
}

#about .number a.second {
  color: #00b2d3;
  border: 2px solid #00b2d3;
}

#about .number a.second:hover {
  color: white;
  background-color: #00b2d3;
}

#about .number a.third {
  color: #2ec6be;
  border: 2px solid #2ec6be;
}

#about .number a.third:hover {
  color: white;
  background-color: #2ec6be;
}

#stats {
  padding: 120px 0;
  background-image: url("../../img/stats-section/statBack.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#stats .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stats .content .stat-icon1 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #0085d3;
}

#stats .content .stat-icon1 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-icon2 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #00b2d3;
}

#stats .content .stat-icon2 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-icon3 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #4fcbda;
}

#stats .content .stat-icon3 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-icon4 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #5bcdc7;
}

#stats .content .stat-icon4 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-txt {
  text-align: center;
}

#stats .content .stat-txt h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 15% 0;
}

#stats .content .stat-txt h4 {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#events {
  padding: 100px 0;
}

#events .day-list {
  margin-top: 10%;
}

#events .day-list ul li {
  padding: 8px 60px;
  background-color: #0085d3;
  border: 2px solid  #0085d3;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#events .day-list ul li:hover {
  background-color: white;
  border: 2px solid #ebebeb;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .day-list ul li:active {
  background-color: white;
  border: 2px solid #ebebeb;
  color: black;
}

#events .day-list ul li:not(:last-child) {
  margin-right: 15px;
}

#events .inner-content1 {
  padding: 55px;
  border: 2px solid #ebebeb;
}

#events .inner-content1 h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 19px;
}

#events .inner-content1 p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content1 ul:not(:last-child) {
  margin-bottom: 10%;
}

#events .inner-content1 ul li {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content1 ul li i {
  color: #0085d3;
  margin-right: 10px;
}

#events .inner-content1 ul li:not(:first-child) {
  margin-left: 20px;
}

#events .inner-content1 ul li:last-child:before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 7px;
  left: -7%;
}

#events .inner-content1 ul li:nth-child(2) {
  color: #0085d3;
}

#events .inner-content2 {
  padding: 55px;
  display: none;
  border: 2px solid #ebebeb;
}

#events .inner-content2 h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 19px;
}

#events .inner-content2 p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content2 ul:not(:last-child) {
  margin-bottom: 10%;
}

#events .inner-content2 ul li {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content2 ul li i {
  color: #0085d3;
  margin-right: 10px;
}

#events .inner-content2 ul li:not(:first-child) {
  margin-left: 20px;
}

#events .inner-content2 ul li:last-child:before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 7px;
  left: -7%;
}

#events .inner-content2 ul li:nth-child(2) {
  color: #0085d3;
}

#events .inner-content3 {
  padding: 55px;
  display: none;
  border: 2px solid #ebebeb;
}

#events .inner-content3 h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 19px;
}

#events .inner-content3 p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content3 ul:not(:last-child) {
  margin-bottom: 10%;
}

#events .inner-content3 ul li {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content3 ul li i {
  color: #0085d3;
  margin-right: 10px;
}

#events .inner-content3 ul li:not(:first-child) {
  margin-left: 20px;
}

#events .inner-content3 ul li:last-child:before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 7px;
  left: -7%;
}

#events .inner-content3 ul li:nth-child(2) {
  color: #0085d3;
}

#events .inner-content4 {
  padding: 55px;
  display: none;
  border: 2px solid #ebebeb;
}

#events .inner-content4 h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 19px;
}

#events .inner-content4 p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content4 ul:not(:last-child) {
  margin-bottom: 10%;
}

#events .inner-content4 ul li {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content4 ul li i {
  color: #0085d3;
  margin-right: 10px;
}

#events .inner-content4 ul li:not(:first-child) {
  margin-left: 20px;
}

#events .inner-content4 ul li:last-child:before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 7px;
  left: -7%;
}

#events .inner-content4 ul li:nth-child(2) {
  color: #0085d3;
}

#halfSlide {
  padding: 100px 0;
}

#halfSlide .slider1 {
  background-color: #222528;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 64px 104px;
}

#halfSlide .slider1 .slider-img {
  width: 75px;
  height: 75px;
}

#halfSlide .slider1 .slider-txt h6 {
  color: white;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0;
  margin-top: 5%;
}

#halfSlide .slider1 .slider-txt span {
  color: #8c8c8c;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

#halfSlide .slider1 .slider-txt p {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 7.5% 0;
}

#halfSlide .slider1 .slider-txt i {
  color: #0085d3;
  font-size: 50px;
}

#halfSlide .slider2 {
  background-color: #222528;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 42.2px 86px;
}

#halfSlide .slider2 .slider-img {
  width: 75px;
  height: 75px;
}

#halfSlide .slider2 .slider-txt h6 {
  color: white;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0;
  margin-top: 5%;
}

#halfSlide .slider2 .slider-txt span {
  color: #8c8c8c;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

#halfSlide .slider2 .slider-txt p {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 7.5% 0;
}

#halfSlide .slider2 .slider-txt i {
  color: #0085d3;
  font-size: 50px;
}

#halfSlide .actions .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 3%;
}

#halfSlide .actions .prev i {
  color: white;
  padding: 10px 15px;
  background-color: #3a3d40;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#halfSlide .actions .prev i:hover {
  background-color: #0085d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#halfSlide .actions .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 4%;
}

#halfSlide .actions .next i {
  color: white;
  padding: 10px 15px;
  background-color: #3a3d40;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#halfSlide .actions .next i:hover {
  background-color: #0085d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */