.title {
  text-align: center;
}

.title h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 8px;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
}

.title h1:after {
  content: "";
  background-color: #0085d3;
  width: 75px;
  height: 3.5px;
  position: absolute;
  bottom: -40px;
  left: 47%;
}

nav {
  background-color: transparent !important;
  position: relative;
}

nav .navbar-brand {
  margin-right: 0;
  margin-left: 25px;
}

nav .navbar-brand img {
  height: 40px;
}

nav .navbar-nav li {
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
}

nav .navbar-nav li a {
  color: white !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li a:hover {
  color: #0085d3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li .search-icon {
  margin-top: 7px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li .search-icon:hover {
  color: #0085d3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li .close-icon {
  margin-left: 5px;
  margin-top: 7px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav li .close-icon:hover {
  color: #0085d3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav .onShow {
  color: #0085d3 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .input-group {
  position: absolute;
  top: 101%;
  left: 80%;
  padding: 22px;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.563%;
          flex: 0 0 18.563%;
  max-width: 18.563%;
}

nav .input-group span {
  cursor: pointer;
}

nav .input-group span i {
  color: white;
}

nav .input-group input[type=text] {
  border-right: 0;
  background-color: #e9ecef;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}

nav .input-group input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ced4da;
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(33, 35, 49, 0.95) !important;
}

#bigSlider {
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/big-slider-section/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#bigSlider .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 10%;
}

#bigSlider .intro h1 {
  font-size: 85px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  padding: 0 21%;
  text-align: center;
}

#bigSlider .intro ul {
  margin-top: 3%;
  margin-left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#bigSlider .intro ul li {
  font-size: 15px;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  position: relative;
}

#bigSlider .intro ul li:not(:last-child) {
  margin-right: 50px;
}

#bigSlider .intro ul li:nth-child(1):after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0085d3;
  position: absolute;
  top: 7px;
  left: 108px;
}

#bigSlider .intro ul li:nth-child(2):after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0085d3;
  position: absolute;
  top: 7px;
  left: 133px;
}

#bigSlider .intro .down-icon {
  position: absolute;
  top: 180%;
  left: 50%;
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#bigSlider .intro .down-icon i {
  display: block;
  color: white;
  font-size: 30px;
}

#time {
  padding-bottom: 50px;
  overflow: hidden;
}

#time .odometer-wrapper {
  height: 100%;
  background-color: #2dcdf5;
  padding: 100px 0;
}

#time .odometer-wrapper .odometer {
  position: relative;
}

#time .odometer-wrapper .odometer span {
  font-size: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#time .odometer-wrapper .odometer:not(:last-child):after {
  position: absolute;
  content: ":";
  color: white;
  text-align: center;
  font-size: 35px;
  top: 10%;
  left: 123%;
}

#time .calendar {
  padding: 100px 0;
  background-color: #f4f6f7;
}

#time .calendar .calendar-icon i {
  font-size: 50px;
  color: #2dcdf5;
}

#time .calendar .txt {
  margin-top: 7%;
}

#time .calendar .txt h4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
}

#time .calendar .txt p {
  margin-top: 3%;
  color: #748793;
  padding: 0px 15%;
  font-weight: 300;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}

#time .location {
  padding: 85.63px 0;
  background-color: #222528;
}

#time .location .loc-icon i {
  font-size: 50px;
  color: #2dcdf5;
}

#time .location .loc-txt {
  margin-top: 7%;
}

#time .location .loc-txt h4 {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
}

#time .location .loc-txt p {
  margin-top: 3%;
  color: white;
  padding: 0px 15%;
  font-weight: 100;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}

#time .work img {
  height: 400px;
}

#time .hand {
  padding: 171.2px 0;
  background-image: url("../img/time-section/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#time .hand a {
  display: inline-block;
  color: white;
  border: white 4px solid;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#time .hand a:hover {
  background-color: white;
  color: #2dcdf5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about {
  padding: 90px 0;
  overflow: hidden;
}

#about .number {
  margin-top: 10%;
}

#about .number h1 {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ecf1f3;
}

#about .number h4 {
  letter-spacing: .05em;
  color: black;
  font-weight: 700;
  word-spacing: 3px;
  font-family: "Montserrat", sans-serif;
}

#about .number p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
  margin: 36px 0;
}

#about .number a {
  text-decoration: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 7px 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}

#about .number a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about .number a.first {
  color: #0085d3;
  border: 2px solid #0085d3;
}

#about .number a.first:hover {
  color: white;
  background-color: #0085d3;
}

#about .number a.second {
  color: #00b2d3;
  border: 2px solid #00b2d3;
}

#about .number a.second:hover {
  color: white;
  background-color: #00b2d3;
}

#about .number a.third {
  color: #2ec6be;
  border: 2px solid #2ec6be;
}

#about .number a.third:hover {
  color: white;
  background-color: #2ec6be;
}

#stats {
  padding: 120px 0;
  background-image: url("../img/stats-section/statBack.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#stats .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stats .content .stat-icon1 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #0085d3;
}

#stats .content .stat-icon1 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-icon2 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #00b2d3;
}

#stats .content .stat-icon2 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-icon3 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #4fcbda;
}

#stats .content .stat-icon3 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-icon4 {
  width: 85px;
  height: 85px;
  line-height: 98px;
  text-align: center;
  border-radius: 50%;
  background-color: #5bcdc7;
}

#stats .content .stat-icon4 i {
  font-size: 35px;
  color: white;
}

#stats .content .stat-txt {
  text-align: center;
}

#stats .content .stat-txt h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 15% 0;
}

#stats .content .stat-txt h4 {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#events {
  padding: 100px 0;
  overflow: hidden;
}

#events .day-list {
  margin-top: 10%;
}

#events .day-list ul li {
  padding: 8px 60px;
  background-color: #0085d3;
  border: 2px solid  #0085d3;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#events .day-list ul li:hover {
  background-color: white;
  border: 2px solid #ebebeb;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .day-list ul .activeList {
  background-color: white;
  border: 2px solid #ebebeb;
  color: black;
}

#events .day-list ul li:not(:last-child) {
  margin-right: 15px;
}

#events .inner-content {
  padding: 55px;
  display: none;
  border: 2px solid #ebebeb;
}

#events .inner-content h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 19px;
}

#events .inner-content p {
  color: #5f727f;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content ul:not(:last-child) {
  margin-bottom: 10%;
}

#events .inner-content ul li {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

#events .inner-content ul li i {
  color: #0085d3;
  margin-right: 10px;
}

#events .inner-content ul li:not(:first-child) {
  margin-left: 20px;
}

#events .inner-content ul li:last-child:before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 7px;
  left: -7%;
}

#events .inner-content ul li:nth-child(2) {
  color: #0085d3;
}

#events .active-event {
  display: block;
}

#halfSlide {
  overflow: hidden;
}

#halfSlide .slider {
  background-color: #222528;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 64px 104px;
}

#halfSlide .slider .slider-img {
  width: 75px;
  height: 75px;
}

#halfSlide .slider .slider-txt h6 {
  color: white;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0;
  margin-top: 5%;
}

#halfSlide .slider .slider-txt span {
  color: #8c8c8c;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

#halfSlide .slider .slider-txt p {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 7.5% 0;
}

#halfSlide .slider .slider-txt i {
  color: #0085d3;
  font-size: 50px;
}

#halfSlide .activeSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#halfSlide .second {
  padding: 40.1px 75px;
}

#halfSlide .actions .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 51%;
}

#halfSlide .actions .prev i {
  color: white;
  padding: 10px 15px;
  background-color: #3a3d40;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#halfSlide .actions .prev i:hover {
  background-color: #0085d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#halfSlide .actions .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 2%;
}

#halfSlide .actions .next i {
  color: white;
  padding: 10px 15px;
  background-color: #3a3d40;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#halfSlide .actions .next i:hover {
  background-color: #0085d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tickets {
  overflow: hidden;
  padding: 100px 0;
  background-image: url("../../img/tickets-section/building.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#tickets .product1 {
  margin-top: 40%;
}

#tickets .product1 .intro {
  text-align: center;
  padding: 40px 50px;
  background-color: #0085d3;
}

#tickets .product1 .intro h1 {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#tickets .product1 .intro h4 {
  margin-top: 10px;
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#tickets .product1 ul {
  border: 2px solid #ebebeb;
  border-top: none;
  text-align: center;
  border-bottom: none;
}

#tickets .product1 ul li {
  padding: 20px 48px;
  color: #5f727f;
  background-color: white;
}

#tickets .product1 ul li:nth-child(even) {
  background-color: #f4f6f7;
}

#tickets .product1 ul li:nth-child(4) {
  text-decoration: line-through;
  color: #99a9b5;
}

#tickets .product1 ul li:nth-child(5) {
  text-decoration: line-through;
  color: #99a9b5;
}

#tickets .product1 ul li:nth-child(6) {
  text-decoration: line-through;
  color: #99a9b5;
}

#tickets .product1 .order-btn {
  padding: 35px 137px;
  border: 2px solid #ebebeb;
  border-top: none;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin-top: -16px;
}

#tickets .product1 .order-btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 8px 20px;
  border: black solid 2px;
}

#tickets .product1 .order-btn a span {
  font-size: 13px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#tickets .product1 .order-btn a i {
  display: inline;
  font-size: 9px;
  margin-right: 15px;
}

#tickets .product1 .order-btn a:hover {
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tickets .product1 .order-btn a:hover i {
  color: white;
}

#tickets .product1 .order-btn a:hover span {
  color: white;
}

#tickets .product2 {
  margin-top: 40%;
}

#tickets .product2 .intro {
  text-align: center;
  padding: 40px 50px;
  background-color: #00b2d3;
}

#tickets .product2 .intro h1 {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#tickets .product2 .intro h4 {
  margin-top: 10px;
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#tickets .product2 ul {
  border: 2px solid #ebebeb;
  border-top: none;
  text-align: center;
  border-bottom: none;
}

#tickets .product2 ul li {
  padding: 20px 48px;
  color: #5f727f;
  background-color: white;
}

#tickets .product2 ul li:nth-child(even) {
  background-color: #f4f6f7;
}

#tickets .product2 ul li:nth-child(6) {
  text-decoration: line-through;
  color: #99a9b5;
}

#tickets .product2 .order-btn {
  padding: 35px 137px;
  border: 2px solid #ebebeb;
  border-top: none;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin-top: -16px;
}

#tickets .product2 .order-btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 8px 20px;
  border: black solid 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tickets .product2 .order-btn a:hover {
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tickets .product2 .order-btn a:hover i {
  color: white;
}

#tickets .product2 .order-btn a:hover span {
  color: white;
}

#tickets .product2 .order-btn a span {
  font-size: 13px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#tickets .product2 .order-btn a i {
  display: inline;
  font-size: 9px;
  margin-right: 15px;
}

#tickets .product3 {
  margin-top: 40%;
}

#tickets .product3 .intro {
  text-align: center;
  padding: 40px 50px;
  background-color: #2ec6be;
}

#tickets .product3 .intro h1 {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#tickets .product3 .intro h4 {
  margin-top: 10px;
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

#tickets .product3 ul {
  border: 2px solid #ebebeb;
  border-top: none;
  text-align: center;
  border-bottom: none;
}

#tickets .product3 ul li {
  padding: 20px 48px;
  color: #5f727f;
  background-color: white;
}

#tickets .product3 ul li:nth-child(even) {
  background-color: #f4f6f7;
}

#tickets .product3 ul li:nth-child(5) {
  text-decoration: line-through;
  color: #99a9b5;
}

#tickets .product3 ul li:nth-child(6) {
  text-decoration: line-through;
  color: #99a9b5;
}

#tickets .product3 .order-btn {
  padding: 35px 137px;
  border: 2px solid #ebebeb;
  border-top: none;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin-top: -16px;
}

#tickets .product3 .order-btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 8px 20px;
  border: black solid 2px;
}

#tickets .product3 .order-btn a span {
  font-size: 13px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#tickets .product3 .order-btn a i {
  display: inline;
  font-size: 9px;
  margin-right: 15px;
}

#tickets .product3 .order-btn a:hover {
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tickets .product3 .order-btn a:hover i {
  color: white;
}

#tickets .product3 .order-btn a:hover span {
  color: white;
}

#team {
  padding: 100px 0;
  overflow: hidden;
}

#team .speaker {
  margin-top: 30%;
  padding: 35px 40px;
  border: 1px solid #dfe5e8;
  cursor: pointer;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team .speaker:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team .speaker:hover .speaker-img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team .speaker:hover .speaker-img::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team .speaker .speaker-img {
  width: 120px;
  height: 120px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team .speaker .speaker-img::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(70, 72, 92, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team .speaker .speaker-txt {
  margin-bottom: 20px;
}

#team .speaker .speaker-txt h4 {
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  margin: 10% 0;
}

#team .speaker .speaker-txt span {
  color: #99a9b5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: .875em;
}

#team .speaker .speaker-txt h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: block;
  font-size: 19px;
  color: #0085d3;
  margin-top: 7%;
}

#team .speaker .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#team .speaker .social-links ul li {
  width: 22px;
  height: 22px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  background-color: #b6c6c9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .social-links ul li i {
  font-size: 12px;
  color: white;
}

#team .speaker .social-links ul li:not(:last-child) {
  margin-right: 13px;
}

#team .speaker .social-links ul li:nth-child(1):hover {
  background-color: #4e64b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .social-links ul li:nth-child(2):hover {
  background-color: #f44336;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .social-links ul li:nth-child(3):hover {
  background-color: #00aced;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .social-links ul li:nth-child(4):hover {
  background-color: #0288d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .social-links ul li:nth-child(5):hover {
  background-color: #9a8f62;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .social-links ul li:nth-child(6):hover {
  background-color: #00aff0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .email {
  position: relative;
}

#team .speaker .email i {
  position: absolute;
  font-size: 35px;
  top: -29%;
  right: -90px;
  color: #b6c6c9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .email i:hover {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .speaker .downpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#team .activeSpeaker {
  display: block;
}

#team .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20%;
}

#team .dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#team .dots ul li {
  width: 15px;
  height: 15px;
  border: 2px solid #b6c6c9;
  border-radius: 50%;
}

#team .dots ul li:not(:last-child) {
  margin-right: 10px;
}

#team .dots ul .activeDot {
  background-color: #b6c6c9;
}

#conference {
  padding: 100px 0;
  background-color: #222528;
  overflow: hidden;
}

#conference .title {
  margin-bottom: 10%;
}

#conference .title h1 {
  color: white;
}

#conference .title h6 {
  color: white;
}

#conference .photo {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  overflow: hidden;
}

#conference .photo img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#conference .photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(27, 148, 219, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#conference .photo .overlay i {
  color: white;
  font-size: 30px;
}

#conference .photo:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#conference .photo:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#conference .photo:hover .overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#partners {
  padding: 100px 0;
  overflow: hidden;
}

#partners .title {
  margin-bottom: 10%;
}

#partners .sponsor {
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#partners .sponsor .overlay-sponsor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f4f6f780;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#partners .sponsor:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#partners .sponsor:hover .overlay-sponsor {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#register {
  padding: 100px 0;
  background-image: url("../img/register-section/laptop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#register .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register .content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

#register .content h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 8px;
  font-weight: 700;
  margin-bottom: 2.1rem;
  color: white;
}

#register .content p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  font-size: "Source Sans Pro", sans-serif;
  margin: 6.5%;
}

#register .content a {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  border: 3px solid white;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-size: 19px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#register .content a:hover {
  color: #48bdd6;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#news {
  padding: 100px 0;
  overflow: hidden;
}

#news .title {
  margin-bottom: 15%;
}

#news .card {
  border-radius: 0;
  border: none;
}

#news .card .up-part {
  position: relative;
  cursor: pointer;
}

#news .card .up-part:hover .overlay-card {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .up-part .overlay-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .up-part .overlay-card i {
  font-size: 40px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  background-color: #3c3950;
  color: white;
}

#news .card .card-body {
  background-color: #f4f6f7;
}

#news .card .card-body .down-part {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .card-body .down-part:hover a.date, #news .card .card-body .down-part:hover h5 {
  color: #00bcd4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .card-body .down-part span {
  font-size: 11px;
  color: #5f727f;
  font-family: "Montserrat", sans-serif;
  display: block;
  font-weight: 500;
  margin-bottom: 10%;
}

#news .card .card-body .down-part a.date {
  font-weight: 700;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .card-body .down-part h5 {
  display: inline;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .card-body p {
  margin-top: 10%;
  color: #5f727f;
}

#news .card .card-body a.share {
  text-decoration: none;
  color: #b6c6c9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

#news .card .card-body a.share i {
  font-size: 29.8px;
  position: absolute;
  top: -1px;
  left: 0px;
}

#news .card .card-body a.share:hover {
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .card-body a.readBtn {
  text-decoration: none;
  padding: 3px 7px;
  border: 3px solid #00bcd4;
  background-color: transparent;
  color: #00bcd4;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border-radius: 3px;
  margin-left: 35px;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news .card .card-body a.readBtn:hover {
  background-color: #00bcd4;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#subscribe {
  padding: 100px 0;
  background-image: url("../img/subscribe-section/hands.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#subscribe .hand-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#subscribe .hand-content i {
  font-size: 50px;
  color: #00b2d3;
  margin-bottom: 5%;
}

#subscribe .hand-content h1 {
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#subscribe .hand-content p {
  font-size: 24px;
  color: white;
  margin: 3% 0;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}

#subscribe .hand-content input[type=email] {
  margin-top: 4%;
  padding: 25px 92.2px;
  border: 0;
  border-radius: 0;
}

#subscribe .hand-content input[type=email]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

#subscribe .hand-content input[type=email]::-webkit-input-placeholder {
  text-align: center;
}

#subscribe .hand-content input[type=email]:-ms-input-placeholder {
  text-align: center;
}

#subscribe .hand-content input[type=email]::-ms-input-placeholder {
  text-align: center;
}

#subscribe .hand-content input[type=email]::placeholder {
  text-align: center;
}

#subscribe .hand-content a {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: #00bcd4;
  border: 3px solid #00bcd4;
  padding: 7.2px 125.48px;
  margin-top: 3%;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#subscribe .hand-content a:hover {
  color: white;
  background-color: #00bcd4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contact {
  overflow: hidden;
}

#contact .gradient {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #0062fa), color-stop(60%, #01bff1), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #0062fa 0%, #01bff1 60%, #00d4ff 100%);
  padding: 78px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .gradient i {
  font-size: 35px;
  color: white;
  margin-bottom: 6%;
}

#contact .gradient h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  margin-bottom: 8%;
}

#contact .gradient p {
  margin: 0;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

#up {
  padding: 100px 0;
  overflow: hidden;
  background-color: #222528;
}

#up .mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#up .mainLogo p {
  font-weight: 100;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: #99a9b5;
  margin: 7% 0;
}

#up .mainLogo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#up .mainLogo ul li {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #00aedd;
  color: #222528;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#up .mainLogo ul li:not(:last-child) {
  margin-right: 25px;
}

#up .mainLogo ul li:nth-child(1):hover {
  background-color: #4e64b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#up .mainLogo ul li:nth-child(2):hover {
  background-color: #00aced;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#up .mainLogo ul li:nth-child(3):hover {
  background-color: #f44336;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#up .mainLogo ul li:nth-child(4):hover {
  background-color: #ff5757;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#up .mainLogo ul li:nth-child(5):hover {
  background-color: #456988;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#up .mainLogo ul li:nth-child(6):hover {
  background-color: #1db3e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down {
  padding: 25px 0;
  overflow: hidden;
  background-color: #1b1e20;
  border-top: 1px solid #313646;
}

#down .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#down .copyright span {
  color: #99a9b5;
  font-size: 12.5px;
  font-family: "Source Sans Pro", sans-serif;
}

#down .copyright .social ul li {
  cursor: pointer;
}

#down .copyright .social ul li:not(:last-child) {
  margin-right: 10px;
}

#down .copyright .social ul li:nth-child(1) {
  color: #4e64b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(1):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(2) {
  color: #0288d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(2):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(3) {
  color: #00aced;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(3):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(4) {
  color: #9a8f62;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(4):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(5) {
  color: #ff5757;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(5):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(6) {
  color: #f44336;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(6):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(7) {
  color: #c82929;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#down .copyright .social ul li:nth-child(7):hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */