#time{
    padding-bottom: 50px;
    overflow: hidden;


    .mainOdometer{
        height: 100%;
        padding: 100px 0;
        background-color: rgb(45, 205, 245);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #odometerWrapper{
        
            background-color: rgb(45, 205, 245);
            
            overflow: hidden;
            position: relative;
    
            
             
    
                span{
                    
                    font-size: 70px;
                    
                    color: white;
                    font-family: $textFont;
                    font-weight: 700;
                    
                    &:not(:last-child){
                        margin-right: 30px;
                        
                    
                    }
                    &:nth-child(even){
                        margin-bottom: 15px;
                    }
    
                    
                }
    
                .move{
                    
                    animation: moving 1s infinite;
                }
    
                @keyframes moving {
    
                    from{
                        transform: translateY(0);
                    }to{
                        transform: translateY(25vh);
                    }
                    
                }
    
               
            
    
    
            
        }

        .odometer-txt{
            margin-left: 20px;
            span{
                font-size: 25px;
                color: white;
                font-family: $textFont;
                font-weight: 300;
                &:not(:last-child){
                    margin-right: 60px;
                    
                
                }

                

            }
        }
    }

    .calendar{
        padding: 100px 0;
        background-color:  #f4f6f7;

        .calendar-icon{
            
            i{
                font-size: 50px;
                color: rgb(45, 205, 245);
            }
        }


        .txt{
            margin-top: 7%;

            h4{
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom:5%;
                font-family: $textFont;
            }


            p{
              margin-top: 3%;
              color:#748793;
              padding: 0px 15%;
              font-weight: 300;
              font-size: 25px;
              font-family: $bodyFont;
            }
        }
    }


    .location{
        padding: 85.63px 0;
        background-color:#222528;

        .loc-icon{
            i{
                font-size: 50px;
                color: rgb(45, 205, 245);
            }


        }


        .loc-txt{

            margin-top: 7%;
            

            h4{
                color: white;
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom:5%;
                font-family: $textFont;
            }


            p{
              margin-top: 3%;
              color:white;
              padding: 0px 15%;
              font-weight: 100;
              font-size: 25px;
              font-family: $bodyFont;
            }

        }

        
    }

    .work{
        img{
        height: 400px;
        } 

    }
    .hand{
        padding: 171.2px 0;;
        background-image: url("../img/time-section/handshake.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        a{
            
            display: inline-block;
            color: white;
            border: white 4px solid;
            text-decoration: none;
            padding: 10px;
            font-size: 20px;
            font-weight: 700;
            font-family: $textFont;
            @include transition(.3s);

            &:hover{
                background-color: white;
                color: rgb(45, 205, 245);
                @include transition(.3s)
            }
        }

    }
    
}